.post__main {
    max-width: 460px;
    width: 100%;
    background: transparent;
    padding-top: 30px;
}

.post__img {
    height: 685px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;
}

.discribtion__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.dots {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-top: 5px;
    cursor: pointer;
}

.dots .element {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #CFCFCF;
}

.discribtion {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
}

.follows {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #5333BE;
}

.author img {
    width: 57px;
    height: 57px;
    border: #F5F4FF solid 3px;
    border-radius: 50%;
    padding: 3px;
}

.post__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.time {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #AFAFAF;
}

.edit {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #5333BE;
    cursor: pointer;
}

.post__body {
    padding: 20px;
    padding-bottom: 40px;
    background: #FFFFFF;
}

.post__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #242424;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #282829;
}

.post__bottom {
    background: #5333BE;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
}

.post__bottom .element {
    max-width: 153px;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post__bottom .element:hover {
    cursor: pointer;
    background: #EEF8FF;
}

.post__bottom .element:hover path {
    fill: #422899
}

.post__bottom .element:hover .count {
    color: #422899
}

.count {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.additionally__info {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 25px; 
    margin: 20px 0;   
}

.additionally__content {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #242424;
    margin-top: 20px;
}