@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

.container__body {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  background: #F5F5F5;
  margin-top: 10px;
}

.ant-form-item-label {
  text-align: left;
}

.ant-col-16 {
  max-width: 100%;
  width: 100%;
}

.ant-form-item-control-input-content {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  height: 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #A19BB5;
}

.ant-form-item-control-input-content input {
  border: transparent;
  width: 100%;
  height: 100%;
}

.ant-input-affix-wrapper {
  width: 100%;
  height: 100%;
}

.ant-form-item-label > label::before {
  content: '';
  display: none !important;
}

.ant-form-item-label > label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.login__btn {
  background: #5333BE;
  border-radius: 8px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: transparent;
}

.login__btn:hover {
  background: #8065db;
}

.modal__main {
  max-width: 460px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.138904);
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 0;
}

.ant-modal-body {
  padding-top: 30px;
}

.ant-modal-title {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
}

.ant-modal-title::before {
  content: "";
  display: block;
  background: url('./image/collection.png')50% 50% no-repeat;
  width: 28px;
  height: 42px;
}